certifi==2020.11.8
click==7.1.2
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1602267312178/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1604945996350/work
pandas==1.1.4
python-dateutil==2.8.1
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1604321279890/work
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy_1604304779838/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
Werkzeug==1.0.1
